* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: cadetblue;
    width: 100%
}

/* Small screens, laptops – 769px — 1024px */
@media screen and (min-width: 769px) {

body {
    margin: 0 auto;
}    

header {
    background-color: cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav {
    justify-content: flex-end;
    padding-right: 20px;
}

h1 {
    margin: 0;
}

.container {
    width: 80%;
    margin: 100px auto;
}

.portfolio {
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto;
}

.header-work {
    margin-right: 20px;
}

.main-img {
    display: flex;
    flex-direction: row;
    margin: 20px 0px;
}

.flex-img {
    width: 300px;
    padding: 20px 20px;
}

}
